<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>失败</title>
    <link rel="stylesheet" href="__STATIC__/css/style.css">
</head>

<body>
	<div class="page-tip-box">
		<h1 class="red"><i class="fa fa-info-circle"></i> {$message}</h1>
		<h2>您可以尝试以下方法之一</h2>
		<ul style="margin-left: 20px;">
			<li>
				<i class="blue fa fa-hand-o-right"></i>
				<a class="hover" href="javascript:history.go(-1)">返回操作页面</a>
			</li>
			<li>
				<i class="blue fa fa-hand-o-right"></i>
				<a class="hover" href="javascript:window.location.href=window.location.href">刷新重试</a>
			</li>
		</ul>
	</div>
  
    <link rel="stylesheet" href="__SOURCE__/font-awesome/font-awesome.css">
</body>

</html>