<!--{:title('管理组设置')}-->
<div class="title">
    <span>管理组设置</span>
</div>
<div class="option">
    <a title="添加管理组" href="{url('adminGroup/edit',$get)}" class="btn blue J_power J_show">添加</a>
    <a title="提交排序" data-url="{url('adminGroup/editSort')}" class="btn blue J_power J_sort_submit">提交排序</a>
</div>
<table class="list">
    <tr>
        <th width="50" class="center">id</th>
        <th width="50" class="center">排序</th>
        <th width="150">组名</th>
        <th width="100" class="center">等级</th>
        <th>操作</th>
    </tr>
    <if condition="(!$list)">
        <tr>
            <td colspan="100">未找到任何记录</td>
        </tr>
    </if>
    <foreach condition="($list as $v)">
        <tr>
            <td class="center">{$v['id']}</td>
            <td class="center">
                <input type="text" class="sort J_select J_sort" data-id="{$v['id']}" data-default="{$v['sort']}" value="{$v['sort']}">
            </td>
            <td>{$v['name']}</td>
            <td class="center">{$v['lv']}</td>
            <td>
                <a class="J_power J_show" data-refresh="true" title="修改{$v['name']}权限" href="{url('adminGroup/edit',array('id'=>$v['id']))}">
                <i class="fa fa-pencil"></i>
            </a>
                <a title="删除{$v['name']}" href="javascript:;" class="red J_confirm J_power" data-url="{url('adminGroup/delete',array('id'=>$v['id']))}">
                <i class="red fa fa-trash-o"></i>
            </a>
            </td>
        </tr>
    </foreach>
</table>
